$colorSilverSand: #c2c5c8;
$colorEasternBlue: #1ba7b6;
$colorTealish: #1eb9ca;
$colorBlueGreen: #108d9a;
$colorWhite: #fff;
$colorOsloGray: #858b90;
$colorPaleGrey: #f3f3f4;
$colorMarine: #073766;
$colorVeryLightBlue: #e6e7e8;
$colorGunmetal: #4b545b;
$colorSunflower: #ffbe14;
$almostBlack: #0c1822;
$colorLightGrey: #f9f9f9;
$colorBgnPrimary: #ff4069;
$baseBorderColor: #d0d0d0;
$activePlusBtnColor: #e8f6f7;
$colorBlack10: rgba(0, 0, 0, 0.1);
$colorCoral: #ff4f4f;
$colorWhiteDarken: #fafafa;
$colorBlackSqueeze: #f4fafb;
$colorHalfDutchWhite: #fef6df;
$colorIceBlue: #f3fafb;
$colorBabyBlue: #9bcfff;
