@import '../../../assets/styles/variables/index';

.TodoListTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: toem(5);
  padding: toem(5) toem(20);

  font-size: 1em;

  border: 1px solid #0c9c0d;
  border-left: 10px solid #0c9c0d;
  border-radius: 5px;
  box-shadow:
    2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);

  transition: 0.3s all linear;

  .TodoListTask_Title {
    flex-grow: 1;
    height: 1.5rem;
    margin: 0 7px;

    cursor: pointer;

    user-select: none;
  }

  .TodoListTask_Button {
    padding: 0 0 0 toem(35);
  }
}

.TodoListTask:hover {
  border-left: toem(1) solid #0c9c0d;
}

.TodoListTask:nth-child(2):hover {
  border-right: toem(10) solid #0c9c0d;
}
