$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-apartment: "\e900";
$icon-arrow-right: "\e901";
$icon-arrow-simple-left: "\e902";
$icon-arrow-simple-right: "\e903";
$icon-arrow-top-square: "\e904";
$icon-bath: "\e905";
$icon-bed: "\e906";
$icon-bell: "\e907";
$icon-calendar: "\e908";
$icon-camera: "\e909";
$icon-check: "\e90a";
$icon-checkbox-checked: "\e90b";
$icon-checkbox-unchecked: "\e90c";
$icon-checked-circle: "\e90d";
$icon-circle-cross: "\e90e";
$icon-clock: "\e90f";
$icon-commercial: "\e910";
$icon-cross: "\e918";
$icon-cross-circle: "\e911";
$icon-dollar-circle: "\e939";
$icon-edit: "\e912";
$icon-elevator: "\e913";
$icon-exclaim-triangle: "\e914";
$icon-eye: "\e915";
$icon-furniture: "\e916";
$icon-garden: "\e917";
$icon-gps: "\e919";
$icon-grear: "\e91a";
$icon-grill: "\e91b";
$icon-gym: "\e91c";
$icon-heart: "\e91d";
$icon-heart-filled: "\e91e";
$icon-hottub: "\e91f";
$icon-house: "\e920";
$icon-land: "\e921";
$icon-location: "\e922";
$icon-map: "\e923";
$icon-minus: "\e924";
$icon-office: "\e925";
$icon-parking: "\e926";
$icon-paw: "\e927";
$icon-pencil: "\e928";
$icon-phone: "\e929";
$icon-pin: "\e92a";
$icon-plus: "\e92b";
$icon-pool: "\e92c";
$icon-radio-checked: "\e92d";
$icon-radio-unchecked: "\e92e";
$icon-radius: "\e92f";
$icon-search: "\e930";
$icon-select-closed: "\e931";
$icon-select-open: "\e932";
$icon-share: "\e933";
$icon-square: "\e934";
$icon-terrace: "\e935";
$icon-upload: "\e936";
$icon-user: "\e937";
$icon-userpick: "\e938";
